
# Created by https://www.toptal.com/developers/gitignore/api/carthage,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=carthage,xcode

### Carthage ###
Carthage

### Xcode ###
# Xcode
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Gcc Patch
/*.gcno

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/carthage,xcode
DNAApp/DNAApp.xcworkspace/xcshareddata/
Frameworks/FrameworksApp/FrameworksApp.xcodeproj/xcshareddata/
.DS_Store
AncestryApp/Source/Ancestry.xcodeproj/xcshareddata/xcschemes/AncestryWatchKitApp.xcscheme
Frameworks/PushNotifications/ThirdParty
Apps.xcworkspace/xcshareddata

upload_dsym_results.log
